<div class="container">
  <h1>Calculadora de Salarios</h1>
  <form [formGroup]="employeeForm" (ngSubmit)="calculateSalary()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre del Empleado</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Salario por Hora</mat-label>
      <input matInput type="number" formControlName="hourlyWage">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Horas Trabajadas</mat-label>
      <input matInput type="number" formControlName="hoursWorked">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Horas Extras Trabajadas</mat-label>
      <input matInput type="number" formControlName="overtimeHours">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">Calcular Salario</button>
  </form>

  <div *ngIf="salaryResponse" class="results">
    <h2>Resultados del Cálculo del Salario</h2>
    <p><strong>Salario Regular:</strong> {{ salaryResponse.regularSalary | currency }}</p>
    <p><strong>Salario por Horas Extras:</strong> {{ salaryResponse.overtimeSalary | currency }}</p>
    <p><strong>Deducciones:</strong> {{ salaryResponse.deductions | currency }}</p>
    <p><strong>Salario Neto:</strong> {{ salaryResponse.netSalary | currency }}</p>
  </div>
</div>